@font-face {
  font-family: '나눔스퀘어라운드';
  src: local('나눔스퀘어라운드 '),
       local('나눔스퀘어라운드'),
       url(~@kfonts/nanum-square-round/NanumSquareRoundL.woff2) format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

body,
button {
  font-family: '나눔스퀘어라운드', 'NanumSquareRound', 'NanumSquareRoundOTF';
}

#app {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  font-size: 16px;
}
